/bin
/.pydevproject
/JRViewer.0.xml
/JRViewer.xml
/build
/dist
/release
/docs
hs_err*
/test_logging.properties
.nfs*
hs_err_pid*
/target
.project
.settings
.classpath
**/.DS_Store
**/target
**/.project
**/.settings
**/.classpath
**/bin/
/bin/
*.csv
**/dependency-reduced-pom.xml
pom.xml.bak
/ff.log

## Intellij stuff
.idea
*.iml
**/.iml
/conduit-ci/jenkins/jobs/
/bc-src.zip
